html, body {
	background-color: #eaeaea;
	/*background-color:#DCDCDC;*/
	/*background-image: url("resources/fb552ac9c84a206fed9c13b0b483d6a4.png");
	background-size: 100% 250px;
    background-repeat: no-repeat;*/
    margin:0;
    padding:0;
}

#backgroundPic{
	background-image: url("resources/fb552ac9c84a206fed9c13b0b483d6a4.png");
	background-size: cover;
    background-position: 50% 50%;
    height: 250px;
    width: auto;
}
/*http://jsfiddle.net/apederson/z93R7/*/
#bannerTop {
	padding: 0;
	margin:0;
	margin-top: -50px;
	margin-bottom: 50px;
	background-color: black;
	color: white;	
	text-align: center;
	/*position: relative;*/
	position: auto;
	height: 63px;
	z-index: 50;
}

#bannerLink{
	font-family: Consolas;
	font-size: 30px;

}

#homeLink{
	color:white;

}

#homeLink:link {
    text-decoration: none;
}

#homeLink:visited {
    text-decoration: none;
}

#homeLink:hover {
    text-decoration: underline;
}


#homeLink:active {
    text-decoration: underline;
}



/*
*	The following is Portfolio Related
*
*/

#box {
	margin-left:10%;
	margin-right:10%;
}

/*http://www.w3schools.com/cssref/pr_class_display.asp*/
.project {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
/*  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 15px;
  margin-left: 15px;*/
  text-align: center;
}

.project:hover {
	/*background:#5C4033; 	*/
	/*orange*/
	background-color: #EE7600;
}

#proj1 {
	background-image: url("resources/proj1ss.png");
	background-position: -150px, 50px;
}

.projectSpace {
  display: inline-block;
    border-radius: 50%;
  height: 400px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.project:hover{
	opacity: 0.7; /*0.5*/
	-moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out


}

#proj2{
	background-image: url("resources/logga.png");
	background-size: 90%;
	background-position: center;
    background-repeat: no-repeat;
}

/*#proj2:hover {
	background:magenta;
}*/

#proj3{
	background-image: url("resources/cornell.png");
	background-size: 105%;
	background-position: center;

}

#proj5{
	background-image: url("resources/GLMon.png");
	background-size: 105%;
	background-position: center;
    background-repeat: no-repeat;
}

.textDesc {
	/*display: none;*/
	/*visibility: hidden;*/
	position: absolute;
	text-align: center;
	width: 300px;
	padding: 0;
	/*margin: 0;*/
	font-family: candara;
	/*garamond / avenir / seravek/ candara / corbel*/
	word-wrap: break-word;


/*	top: 470px;
	left: 250px;*/
}



.textBox {
	margin-left : 10%;
	margin-right :10%;
	font-family: candara;

}

div.img {
    margin: 7px;
    border: 1px solid #ccc;
    float: left;
    align:middle;
    width: 180px;
}

div.img:hover {
    border: 2px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    font-size: 12px;
    text-align: center;
}

/*
div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


*/
