#dropdownlist {
    position: absolute;
       /* height: 360px;
        width: 200px;*/
    margin-left: 600px;
    margin-top: -250px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

/**/

 #chart {
    height: 420px;
    margin-left: 150px;
    margin-top: -250px;
    position: absolute;
    text-align:center;
    width: 420px;
  }
  .tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
  }
  .legend {
    font-size: 13px;
  }
  rect {
    cursor: pointer;                                              /* NEW */
    stroke-width: 2;
  }
  rect.disabled {                                                 /* NEW */
    fill: transparent !important;                                 /* NEW */
  }                                                               /* NEW */
  .chart {                                                            /* NEW */
    font-size: 14px;                                              /* NEW */
    text-align: center;                                           /* NEW */
  }                      
        

/**/


.nav_year {
    cursor: hand;
    border-radius: 25px;
}

a, .nav_year {
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
a {
    float: left;
}


#navBar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-content: center;

    /*align-items: center;*/
    /*vertical-align: center;*/
    /*text-align: center;*/
    padding: 4px;
}





