
td {
  background-color: #dbeaf0;
}
th, td {
  padding: 15px;
}

th {
  background-color: #AAAAAA;  
}

.villa {
  float:left;
  width: 45%;
}
.bostadsratt{
  float:right; 
  width: 45%;
  margin-right: 6%;
}
#formDiv {
  float: left;
  background-color: #dbdbdb;
  border-radius: 25px;
  border: 5px solid #bfbfbf;
  margin: auto;
  padding: 20px;
  width: 35%; 
}

#result {
  float: right;
  padding: 1%;
  margin-top: 10%;
  margin-right: 10%;
  border-radius: 25px;
  border: 5px solid #bfbfbf;
  background-color: #dbdbdb;
}

#searchparams {
  font-size: 0%;
}

form {
  width: 30%;
  /*margin: auto;*/
}

input {
  width: 75%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  background-color: #AAAAAA;
  box-sizing: border-box;
}

input[type=submit] {
  border: 3px solid black;
  background-color: #AAAAAA;
}

input[type=checkbox] {
  height: 2%;
  background-color: #BFBFBF;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

input[type=checkbox]:checked {
  background-color: #000000;
  color: #000000;
}

label {
  width: 18%;
  padding: 9px;
  background-color: #dbeaf0;
  box-sizing: border-box;
  display: inline-block;
}
