html, body {
    height: 100%;
    margin: 0;
}
div {
    height: 100%;
    float: left;
}

#MainBody {
    width: 100%;
}

#left {
        background-color: red;
    width: 510px;
    height:100%;
    margin: 5px;
    position: absolute;
}
#middle {
    margin: 5px 0;
    margin-left: 525px;
    width: 370px;
     background-color: green;
     position: absolute;

}
#right {
    margin: 5px;
    margin-left: 905px;
    width: 783px;
        /*background-color: blue;*/
    position: absolute;

}

/*#table_wrapper{
    height:500px;
    overflow:auto;  
    margin-top:20px;
}
*/
#graphChoice {
    background-color: black;
    color: white;
    font-size: 40;
    text-align: center;
}

/*thead {
    position:absolute;
}*/