html, body {
    height: 100%;
    margin: 0;
}
div {
    height: 100%;
    float: left;
}

table {
    border-collapse: collapse;
    border: 1px solid black;

}


th, td {
    text-align: left;
}

th {
    border-bottom: 1px solid black;
    z-index: 3;
    background-color: grey;
}

tr:hover {
    background-color: white;
}

button{
    cursor: hand;
}

.group {
    cursor: hand;
    border-radius: 25px;
}

li, .group {
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li {
    float: left;
}
#help:hover{
    background-color: grey;
}
#MainBody {
    width: 100%;
}

#left {
    /*background-color: grey;*/
    width: 510px;
    height:600px;
    margin: 5px;
    position: absolute;
}
#middle {
    margin: 5px 0;
    margin-left: 525px;
    height: 600px;
    width: 370px;
     /*background-color: green;*/
     position: absolute;

}
#right {
    margin: 5px;
    margin-top:22px;
    margin-left: 905px;
    width: 783px;
        /*background-color: blue;*/
    position: absolute;

}
#legend {
    width:74px;
}

#table_wrapper{
    margin:5px;
    height:500px;
    overflow:auto;  
    margin-top:20px;
    background-color: lightgrey;
}

#graphChoice {
    background-color: orange;
    color: white;
    font-size: 40;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
}

/*thead {
    position:absolute;
}*/



#name {
    font-size:50px;
}

#person {
    border-radius: 25px;
    border: 2px solid orange;
    padding: 20px;
}


#navBar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
