html, body {
    height: 100%;
    margin: 0;
}
div {
    height: 100%;
    float: left;
}

#MainBody {
    width: 100%;
}

#left {
        background-color: red;
    width: 27%;
    height:100%;
    margin: 5px;
}
#middle {
    margin: 5px 0;
    width: 20%;
        background-color: green;

}

#right {
    margin: 5px;
    width: 48%;
        background-color: blue;

}
